.site-header {
    background-color: $color__header_bg;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4rem 0 2rem;

    .site-branding {

        .custom-logo-link {
            width: 8rem;
            height: auto;
        }

        .site-title {
            display: none;
        }
    }
}